.microwave {
    position:relative;
    width:400px;
    height:500px;
    margin: 30px auto 0 auto;
    padding:3%;
}

.microwave h1{
    text-align: center;
    text-transform: uppercase;
    margin:30px;
    padding:0;
    color: #cc7713;
}

.content {
    position:relative;
    width:70%;
    margin:3px auto 0 auto;
    min-width:300px;

}

.content ul{
    margin:0;
    padding:0;
    list-style: none;
    border:5px solid #CCC;
    background: rgba(40,40,40,0.75);
}
.content ul li{
    position: relative;
    color:#FFF;
    font-family: helvetica;
    padding:2% 5%;
    border-bottom: 1px solid #555;
}

.content ul li:last-child{
    border-bottom:none;
}

.name{
    font-weight:bold;
}
.count{
    display:inline-block;
    float:right;
    color:#F00;
    font-weight:bold;
}
.count:after{
    content:' Likes';
    color:#CCC;
    font-size:80%;
    font-weight:normal;
}


.content ul{
    border-radius: 20px;
}

.animate {
    -moz-animation: flashIt 0.2s ease 1;
    -webkit-animation: flashIt 0.2s ease 1;
    animation: flashIt 0.2s ease 1;
}

.animate .countold{
    -moz-animation: spinIt 0.3s ease 1;
    -webkit-animation: spinIt 0.3s ease 1;
    animation: spinIt 0.3s ease 1;
}


@-moz-keyframes flashIt {
    100% { opacity: 0; background-color: #FFF;}
}
@-webkit-keyframes flashIt {
    100% { opacity: 0; background-color: #FFF;}
}
@keyframes flashIt {
    100% { opacity: 0; }
}

@-moz-keyframes spinIt {
    20% {-moz-transform: rotate(-10deg)}
    40% {-moz-transform: rotate(10deg)}
    60% {-moz-transform: rotate(-10deg)}
    80% {-moz-transform: rotate(10deg)}
    100% {-moz-transform: rotate(-10deg)}
}
@-webkit-keyframes spinIt {
    20% {-webkit-transform: rotate(-10deg)}
    40% {-webkit-transform: rotate(10deg)}
    60% {-webkit-transform: rotate(-10deg)}
    80% {-webkit-transform: rotate(10deg)}
    100% {-webkit-transform: rotate(-10deg)}
}
@keyframes spinIt {
     20% {transform: rotate(-10deg)}
     40% {transform: rotate(10deg)}
     60% {transform: rotate(-10deg)}
     80% {transform: rotate(10deg)}
     100% {transform: rotate(-10deg)}
 }

.microwave_title {
    color:orange;
    line-height:25px;
    font-weight:bold;
    font-size:13px;
    font-family:arial;
    border-radius:6px 6px 6px 6px; 
    -webkit-border-radius:6px 6px 6px 6px;  
    -moz-border-radius:6px 6px 6px 6px; 
    width:100%;
    background-color:#52463b;
    text-align:center;
    vertical-align:middle;      
}

#pause_and_time_area {
  position: relative;
  overflow: auto;
  height: 40px;

}

.pause_area {
  position: absolute;
  top: 0px;
  left: 0px;
}

.pause_control {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:8px 16px 8px 16px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    height: 26px;
    vertical-align: middle;
    line-height: 100%;
}

.pause_control:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
    background-color:#e9e9e9;
}

.pause_control:active {
    position:relative;
    top:1px;
}

.microwave_div {
    background-color:#2d251d;
    border:1px solid #cccccc;
    -webkit-border-radius:20px; 
    -moz-border-radius:20px; 
    border-radius:20px;
    padding:20px;
    width:400px;
    min-height:330px;
    max-height:330px;
    color:white;
    line-height:30px;
    display:inline-block;
    vertical-align: top;
    margin:0 28px;
    position:relative;
}

.left_fault_info{
    clear: both;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    width:60%;
    font-size:12px;
    text-indent:10px;
    display:inline-block;
    vertical-align: top;
    float: left;
    background-color:#404040;
    height: 260px;
    padding-left: 20px;
    overflow: scroll;
}

.middle_channel_readings{
    clear: both;
    width:20%;
    text-align:center;
    font-size:12px;
    display:inline-block;
    vertical-align: middle;
    float: center;
    background-color:#404040;
    font-size: 10px;
}

.right_channel_readings{
    clear: both;
    width:20%;
    text-align:center;
    display:inline-block;
    vertical-align: top;
    font-size:12px;
    float: right;
    background-color:#404040;
    font-size: 10px;
}

.status_led{
    position:absolute;
    bottom:0;
    left:0;
}

.channel_value_display{ 
    background-color:#404040;
}

.channel_name_display {
    clear: both;
    overflow: hidden;
    white-space: nowrap;
}

.time_area {
    width: 45%;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 0px;
}

#time_display {
    
    display: inline-block;
}

input[type=text] {
    vertical-align: middle;
    line-height: 100%;
    width:80%;
    text-align: center;
}