h2 {
  font-size: 20px;
  padding: 5px;
  margin: 0px;
}

body {
  background: #EEE;
}

#cv_channel_title {
  font-size: 16px;
}

.detail_chart_container {
  position: relative;
  background: #FFF;
  margin-top: 10px;
}

.chart_close_button {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #F00;
  z-index: 200;
}
